.card {
  display: flex;
  height: 300px;
  min-width: 240px;
  flex-direction: column;
}
.card-img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  margin-bottom: .8rem;
}
.card-title {
  font-size: 1.2rem;
}