@import 'mixins/square-img';

.product-page {
	padding: 2rem;
}
.product-section {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
.img-section {
	@include square-img;
}
.product-content-section {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
.grid-child {
  color: var(--text-secondary);
  &:nth-child(2) {
    font-weight: 600;
    font-size: 1.1rem;
  }
}
input.grid-child  {
  padding: .5rem;
  width: 45px;
  background-color: transparent;
  border: 1px solid var(--text-secondary);
  border-radius: 5px;
  &:focus {
    border-color: var(--emphasis);
  }
}
.product-quantity {
  align-items: center;
}
.product-cta-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.return-policy {
  display: flex;
  align-self: flex-start;
  color: var(--text-secondary);
  border-radius: 5px;
  padding: 5px 10px;
  gap: .5rem;
  font-weight: 600;
  svg {
    color: rgb(68, 230, 68);
  }
}
.product-about-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  h2 {
    margin-bottom: .5rem;
  }
}

.product-reviews-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.reviews-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  a {
    display: flex;
    align-items: center;
    gap: .5rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
.rating {
  display: flex;
  align-items: center;
  gap: .5rem;
  h3 {
    font-size: 2rem;
  }
}
.stars {
  display: flex;
  gap: .3rem;
  color: orange;
}