@import 'header', 'footer', 'main';

.app {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color: var(--background-primary);
	color: var(--text-primary);
}
.button {
	font-size: 1.2rem;
	font-weight: bold;
	padding: 1rem 1.8rem;
	border-radius: 15px;
  color: inherit;
}
.button-full {
	background-color: var(--emphasis);
}
.section {
	margin: 3rem 0;
}
