@import 'mixins/slider';

.link {
	font-family: Montserrat, Roboto, sans-serif;
	font-weight: bold;
	&:hover {
		color: var(--emphasis);
	}
}
.burger-nav-container {
	@include slider;
}
.burger-top {
	@include slider-top;
  justify-content: flex-end;
}
.burger-nav {
	display: flex;
	flex-direction: column;
}
.burger-nav-container-active {
	@include slider-active;
}
.close-burger {
	margin: 1rem;
}
.burger-nav-list {
	display: flex;
	flex-direction: column;
}

.burger-link {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1.5rem;
	width: 100%;
	padding: 1rem;
	&:hover {
		background-color: var(--emphasis);
		color: var(--text-button);
	}
	&:active {
		background-color: var(--emphasis);
		color: var(--text-button);
	}
}
