@import 'mixins/square-img';
.card {
  display: flex;
  min-width: 240px;
  max-width: 400px;
  flex-direction: column;
  padding: 0 1rem;
}

.card-img-container {
  @include square-img;
  margin-bottom: .8rem;
}
.card-title {
  font-size: 1.2rem;
}