@import 'header', 'footer', 'main';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');

:root {
	--background-primary: #000000;
	--background-secondary: #252323;
	--text-primary: #f5fbef;
	--text-secondary: #929fad;
	--text-button: #f5fbef;
	--emphasis: #006989;
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: var(--emphasis);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #078eb7;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 14px;
}
#root {
	height: 100%;
}
body {
	height: 100%;
	background-color: #f5f5f5;
}
a {
	text-decoration: none;
	color: inherit;
}
button {
	cursor: pointer;
	border: none;
	outline: none;
	background-color: transparent;
}
input {
	border: none;
	outline: none;
}
ul {
	list-style: none;
}
.app {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color: var(--background-primary);
	color: var(--text-primary);
	font-family: Roboto, 'sans-serif';
}
.button {
	font-size: 1.2rem;
	font-weight: bold;
	padding: 1rem 1.8rem;
	border-radius: 5px;
	color: inherit;
}
.button-full {
	background-color: var(--emphasis);
	color: var(--text-button);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.button-outlined {
  border: 2px solid var(--emphasis);
  color: var(--emphasis);
}
.section:not(.newsletter-section) {
	margin-bottom: 6rem;
}
.no-scroll {
	overflow: hidden;
}


@media screen and (min-width: 768px) {
	html {
		font-size: 14.5px;
	}
	.section:not(.newsletter-section) {
		margin-bottom: 6rem;
	}
}

@media screen and (min-width: 992px) {
	html {
		font-size: 15px;
	}
	.section:not(.newsletter-section) {
		margin-bottom: 8rem;
	}
}
