@import 'mixins/square-img';
.card {
  display: flex;
  min-width: 240px;
  flex-direction: column;
  margin: none
}

.card-img-container {
  @include square-img;
  margin-bottom: .8rem;
}
.card-title {
  font-size: 1.2rem;
}