.catalog {
	padding: 2rem;
	display: flex;
	flex-direction: column;
}
.search-section {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border: 1px solid var(--text-secondary);
	border-radius: 5px;
	input {
		width: 100%;
		border-radius: 5px;
		font-size: 1.1rem;
		outline: none;
		background-color: transparent;
		color: inherit;
		padding: 0.7rem 1rem;
	}
}

.search-button {
	color: inherit;
	border-left: 1px solid var(--text-secondary);
	padding: 0.7rem 1rem;
  &:hover {
    cursor: pointer;
    background-color: rgb(128, 128, 128, 0.2);
  }
}

.filter-section {
	display: flex;
	gap: 0.5rem;
	padding: 1rem 0;
	overflow-x: scroll;
}
.filter {
	padding: 0.5rem;
	margin-bottom: 0.2rem;
	border-radius: 5px;
	color: var(--text-primary);
}
.filter.active {
	background-color: var(--emphasis);
	color: var(--text-button);
}
.product-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	gap: 3rem;
}

input[type='search']::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
input[type='search']::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}
.not-found-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  p {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-secondary);
  }
}
.not-found-illustration {
  width: 100%;
}