@import 'burger-nav', 'cart', 'checkbox';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header-top {
	scroll-behavior: smooth;
}
.logo {
	padding: .5rem 1rem;
}
.nav {
	display: none;
}
.nav-list {
	display: flex;
	align-items: center;
	gap: 4rem;
}
.nav-link {
	font-size: 1.2rem;
	&:hover {
		text-decoration: underline;
	}
}
.nav-right {
	display: flex;
  align-items: center;
  gap: 1.8rem;
  padding: 0.5rem 1rem;
}
.burger {
	display: block;
	cursor: pointer;
	margin-right: 1rem;
}
.cart-button {
	display: block;
	cursor: pointer;
}
@media screen and (min-width: 600px) {
	.burger {
		display: none;
	}
	.nav {
		display: block;
	}
}


