@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap");
.link {
  font-family: Montserrat, Roboto, sans-serif;
  font-weight: bold;
}
.link:hover {
  color: var(--emphasis);
}

.burger-nav-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--background-primary);
  color: var(--text-primary);
  z-index: 100;
  transform: translate(100%);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
  height: 100vh;
}

.burger-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
}

.burger-nav {
  display: flex;
  flex-direction: column;
}

.burger-nav-container-active {
  transform: translate(0);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  opacity: 1;
}

.close-burger {
  margin: 1rem;
}

.burger-nav-list {
  display: flex;
  flex-direction: column;
}

.burger-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem;
}
.burger-link:hover {
  background-color: var(--emphasis);
  color: var(--text-button);
}
.burger-link:active {
  background-color: var(--emphasis);
  color: var(--text-button);
}

.order-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.order-img-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}
.order-img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.order-img-container img {
  border-radius: 5px 0 0 5px;
}

.order-content {
  align-self: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.order-quantity-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}
.order-quantity-section svg {
  height: 100%;
}

.quantity {
  width: 40px;
  border: 1px solid var(--text-primary);
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
}

.order-name {
  font-size: 1.1rem;
  font-weight: 500;
}

.order-quantity {
  display: flex;
  align-items: stretch;
}

.order-price {
  font-size: 1.4rem;
  font-weight: bold;
}

.plus-one, .minus-one {
  color: var(--text-primary);
}

.remove-order {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.cart-button {
  position: relative;
}

.number-of-orders {
  position: absolute;
  right: -8px;
  top: -8px;
  background-color: rgb(238, 45, 45);
  border-radius: 50%;
  height: 16px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.8rem;
}

.cart-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--background-primary);
  color: var(--text-primary);
  z-index: 100;
  transform: translate(100%);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
  height: 100vh;
  display: flex;
}

.cart {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cart-container-active {
  transform: translate(0);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  opacity: 1;
}

.cart-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-title {
  padding: 1rem;
}

.close-cart {
  margin: 1rem;
}

.full-cart {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-items {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  overflow-y: scroll;
}

.empty-cart-container {
  height: 100%;
  padding: 5rem 2rem;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.empty-cart h2 {
  color: var(--text-secondary);
}

.empty-cart-illustration {
  width: 100%;
}

.checkout-section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.checkout-section button {
  font-size: 1.4rem;
  font-weight: bold;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.total-bill {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-primary);
  font-weight: inherit;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.light-on {
  color: orange;
}

.checkbox-wrapper-2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox-wrapper-2 .ikxBAC {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #c9cbcd;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
  background-color: #ffffff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
  cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
  background-color: #6e79d6;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
  background-color: #1d1d1d;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-primary);
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

#header-top {
  scroll-behavior: smooth;
}

.logo {
  padding: 0.5rem 1rem;
}

.nav {
  display: none;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav-link {
  font-size: 1.2rem;
}
.nav-link:hover {
  text-decoration: underline;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  padding: 0.5rem 1rem;
}

.burger {
  display: block;
  cursor: pointer;
  margin-right: 1rem;
}

.cart-button {
  display: block;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .burger {
    display: none;
  }
  .nav {
    display: block;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--background-secondary);
}

.back-to-top {
  align-self: stretch;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-links a:hover {
  text-decoration: underline;
}

.footer-group-1,
.footer-group-2 {
  display: flex;
  gap: 2rem;
  justify-content: center;
  max-width: 550px;
}

.copyright {
  text-align: center;
}

.github {
  align-self: center;
  display: flex;
  gap: 4px;
  padding: 0 2rem 1rem;
}

@media screen and (min-width: 600px) {
  .footer-links {
    flex-direction: row;
    gap: 2rem;
  }
}
.hero-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
}

.hero-description {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.hero-photo-container {
  display: none;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 0.5rem;
}

.category {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.background-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.catalog-title {
  z-index: 1;
  margin: 0 0 5px 5px;
  color: var(--text-button);
}

.category:hover .background-img {
  transform: scale(0.98);
  filter: brightness(0.8);
}

.banner {
  display: flex;
  border-radius: 5px;
  background-color: var(--background-secondary);
  padding: 3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.banner-text > h2 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.banner-text > p {
  font-size: 1.2rem;
}

.banner-cta {
  margin-top: 1.5rem;
}

.banner-img {
  display: none;
}

.trending-section {
  display: flex;
  flex-direction: column;
}

.trending-list {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  overflow-x: scroll;
}

.newsletter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--background-secondary);
  padding: 3rem 2rem;
  margin-bottom: 0;
  border-radius: 5px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.newsletter-form > input {
  width: 100%;
  padding: calc(1rem - 2px) calc(1.8rem - 2px);
  border-radius: 5px;
  font-size: 1.2rem;
  color: black;
  border: 2px solid white;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.newsletter-form > input:focus {
  border: 2px solid var(--emphasis);
}

.newsletter-button {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .categories {
    grid-template-rows: 300px 300px;
  }
}
@media screen and (min-width: 768px) {
  .categories {
    grid-template-rows: 400px 400px;
    gap: 1rem;
  }
  .catalog-title {
    margin: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .hero-section {
    flex-direction: row;
    gap: 3rem;
  }
  .hero-section h1 {
    font-size: 3rem;
  }
  .hero-text {
    margin-top: 3rem;
  }
  .hero-photo-container {
    display: block;
    max-width: 40%;
  }
  .hero-photo-container img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .hero-photo {
    border-radius: 35px;
  }
  .categories {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
  }
  .casual {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .dresses {
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .banner img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .banner-right,
  .banner-left {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px;
  }
  .banner-right .banner-text,
  .banner-left .banner-text {
    grid-column: 2/4;
    grid-row: 1/2;
    padding: 4rem;
    align-self: center;
  }
  .banner-right .banner-img-container,
  .banner-left .banner-img-container {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .banner-left .banner-img-container {
    grid-column: 3/4;
  }
  .banner-left .banner-text {
    grid-column: 1/3;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero-section h1 {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 1550px) {
  .hero-section h1 {
    font-size: 4rem;
  }
}
.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--text-secondary);
  border-radius: 5px;
}
.search-section input {
  width: 100%;
  border-radius: 5px;
  font-size: 1.1rem;
  outline: none;
  background-color: transparent;
  color: inherit;
  padding: 0.7rem 1rem;
}

.search-button {
  color: inherit;
  border-left: 1px solid var(--text-secondary);
  padding: 0.7rem 1rem;
}
.search-button:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.2);
}

.filter-section {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 0;
  overflow-x: scroll;
}

.filter {
  padding: 0.5rem;
  margin-bottom: 0.2rem;
  border-radius: 5px;
  color: var(--text-primary);
}

.filter.active {
  background-color: var(--emphasis);
  color: var(--text-button);
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 3rem;
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.not-found-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.not-found-section p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-secondary);
}

.not-found-illustration {
  width: 100%;
}

.about h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.story-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-section h2 {
  font-size: 2rem;
  font-weight: 500;
}

.service-segments {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.service-segment {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 2rem 2rem;
  border-radius: 30px;
}
.service-segment:hover {
  background-color: rgba(255, 255, 255, 0.12);
}
.service-segment svg {
  color: var(--emphasis);
}
.service-segment h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.service-segment p {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--text-secondary);
}

.card {
  display: flex;
  min-width: 240px;
  flex-direction: column;
  margin: none;
}

.card-img-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 0.8rem;
}
.card-img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-title {
  font-size: 1.2rem;
}

.product-page {
  padding: 2rem;
}

.product-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.img-section {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}
.img-section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-content-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.grid-child {
  color: var(--text-secondary);
}
.grid-child:nth-child(2) {
  font-weight: 600;
  font-size: 1.1rem;
}

input.grid-child {
  padding: 0.5rem;
  width: 45px;
  background-color: transparent;
  border: 1px solid var(--text-secondary);
  border-radius: 5px;
}
input.grid-child:focus {
  border-color: var(--emphasis);
}

.product-quantity {
  align-items: center;
}

.product-cta-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.return-policy {
  display: flex;
  align-self: flex-start;
  color: var(--text-secondary);
  border-radius: 5px;
  padding: 5px 10px;
  gap: 0.5rem;
  font-weight: 600;
}
.return-policy svg {
  color: rgb(68, 230, 68);
}

.product-about-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-about-section h2 {
  margin-bottom: 0.5rem;
}

.product-reviews-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reviews-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.reviews-top a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.reviews-top a:hover {
  text-decoration: underline;
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.rating h3 {
  font-size: 2rem;
}

.stars {
  display: flex;
  gap: 0.3rem;
  color: orange;
}

.home,
.catalog,
.about {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .home,
  .catalog,
  .about {
    padding: 4rem;
  }
}
@media screen and (min-width: 992px) {
  .home,
  .catalog,
  .about {
    padding: 5rem;
  }
}
:root {
  --background-primary: #000000;
  --background-secondary: #252323;
  --text-primary: #f5fbef;
  --text-secondary: #929fad;
  --text-button: #f5fbef;
  --emphasis: #006989;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

#root {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: Roboto, "sans-serif";
}

.button {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 1.8rem;
  border-radius: 5px;
  color: inherit;
}

.button-full {
  background-color: var(--emphasis);
  color: var(--text-button);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.section:not(.newsletter-section) {
  margin-bottom: 6rem;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 15px;
  }
  .section:not(.newsletter-section) {
    margin-bottom: 6rem;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }
  .section:not(.newsletter-section) {
    margin-bottom: 8rem;
  }
}/*# sourceMappingURL=App.css.map */